.App {
  background-color: #000000;
  text-align: center;

}

.footer {
  background-color: #F1F1F1;
  display: table;
  clear: both;
  content: "";
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  background-color: #F1F1F1;
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.Banner {
  background-color: #D4A849;
}

.rcorners3 {
  border-radius: 0px 10px 10px 0px;
  background: #4975d4;
  border: none;
  width: 100px;
  height: 50px;
  transition-duration: 0.1s;
}

.rcorners3:hover {
  border-radius: 0px 10px 10px 0px;
  background: #82E0AA;
  border: none;
  width: 100px;
  height: 50px;
}

.rcorners2 {
  border-radius: 0px;
  background: #4975d4;
  border: none;
  width: 100px;
  height: 50px;
  transition-duration: 0.1s;
}

.rcorners2:hover {
  border-radius: 0px;
  background: #82E0AA;
  border: none;
  width: 100px;
  height: 50px;
}

.rcorners1 {
  border-radius: 10px 0px 0px 10px;
  background: #4975d4;
  border: none;
  width: 100px;
  height: 50px;
  transition-duration: 0.1s;
}

.rcorners1:hover {
  border-radius: 10px 0px 0px 10px;
  background: #82E0AA;
  border: none;
  width: 100px;
  height: 50px;
  transition-duration: 0.1s;
}
